<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.dao.ManageUserDaoMapper">
    <resultMap id="ManageUserBean" type="com.hhit.entity.ManageUserBean">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="realName" column="real_name"/>
        <result property="userType" column="user_type" />
        <result property="gender" column="gender" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="deleteFlag" column="delete_flag" />
        <result property="qq" column="qq" />
        <result property="weiXin" column="weixin" />
        <result property="memo" column="memo" />
        <result property="headImg" column="head_img" />
        <result property="updateTime" column="update_time" />
        <association property="shouCangCount" column="id" select="getShouCangCount" />
        <association property="articleCount" column="id" select="getArticleCount" />
        <association property="guanZhuCount" column="id" select="getGuanZhuCount" />
    </resultMap>



    <select id="getUserByUserName" resultMap="ManageUserBean">
        select *from nh_manage_user where delete_flag = #{deleteFlag} and user_name = #{userName}
    </select>

    <select id="getShouCangCount" parameterType="String" resultType="int" >
        SELECT COUNT(0) FROM dianzan WHERE user_id = #{userId} and dian_type = "2"
    </select>
    <select id="getArticleCount" parameterType="String" resultType="int" >
        SELECT COUNT(0) FROM article WHERE master = #{userId}
    </select>

    <select id="findUserBeanById" resultMap="ManageUserBean">
        select *from nh_manage_user where id = #{userId}
    </select>

    <select id="getGuanZhuCount" resultType="int">
        select count(0) from guanzhu where bei_guan = #{beiGuanId}
    </select>

    <select id="findArticleUserByArticleId" resultMap="ManageUserBean">
        select u.* from nh_manage_user u  inner join article a on a.master = u.id where a.id = #{articleId}
    </select>

    <update id="changePassword">
        update nh_manage_user set password = #{newPass} where id = #{userId}
    </update>

    <!-- 根据条件获得用户的数量 -->
    <select id="getManageUserCountByMap" resultType="int" parameterType="com.hhit.entity.ManageUserBean">
        select count(0) from nh_manage_user <include refid="manageUserMap"/>
    </select>

    <sql id="manageUserMap">
        <trim prefix="where" prefixOverrides="AND">
            <if test="realName != null and realName != '' ">
                AND real_name like CONCAT('%', #{realName}, '%')
            </if>
            <if test="userName != null and userName != '' ">
                AND user_name like CONCAT('%', #{userName}, '%')
            </if>
            <if test="userType != null and userType != '' ">
                AND user_type = #{userType}
            </if>
            <if test="deleteFlag != null">
                AND delete_flag = #{deleteFlag}
            </if>
        </trim>
    </sql>

    <sql id="manageUser_protery">
		id,
		user_name,
		password,
		real_name,
		gender,
        user_type,
		phone,
		email,
		delete_flag,
		memo,
        head_img,
        update_time
	</sql>


    <!-- 根据条件获得用户 -->
    <select id="getManageUserByMap" resultMap="ManageUserBean" parameterType="com.hhit.entity.ManageUserBean">
        select
        <include refid="manageUser_protery"/>
        from
        nh_manage_user
        <include refid="manageUserMap"/>
        order by update_time desc
        <if test="fromNum != null and limit != null ">
            limit #{fromNum}, #{limit}
        </if>
    </select>

    <insert id="userAdd" parameterType="com.hhit.entity.ManageUserBean">
        insert into nh_manage_user(id,user_name,password,real_name,user_type,gender,phone,email,delete_flag,memo,head_img,update_time) values
        (#{id},#{userName},#{password},#{realName},#{userType},#{gender},#{phone},#{email},#{deleteFlag},#{memo},#{headImg},#{updateTime})
    </insert>

    <update id="userDel">
        update nh_manage_user set delete_flag = "1" where id = #{id}
    </update>

    <update id="userUpdate" parameterType="com.hhit.entity.ManageUserBean">
        update nh_manage_user
        <set>
            <if test="userName != null and userName != '' ">
                user_name = #{userName},
            </if>
            <if test="password != null and password != '' ">
                password = #{password},
            </if>
            <if test="realName != null and realName != '' ">
                real_name = #{realName},
            </if>
            <if test="gender != null ">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != '' ">
                phone = #{phone},
            </if>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
            <if test="memo != null and memo != '' ">
                memo = #{memo},
            </if>
            <if test="headImg != null and headImg != '' ">
                head_img = #{headImg},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>