<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.dao.ManageUserDaoMapper">
    <resultMap id="ManageUserBean" type="com.hhit.entity.ManageUserBean">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="realName" column="real_name"/>
        <result property="userType" column="user_type" />
        <result property="gender" column="gender" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="deleteFlag" column="delete_flag" />
        <result property="qq" column="qq" />
        <result property="weiXin" column="weixin" />
        <result property="memo" column="memo" />
        <result property="headImg" column="head_img" />
        <association property="shouCangCount" column="id" select="getShouCangCount" />
        <association property="articleCount" column="id" select="getArticleCount" />
        <association property="guanZhuCount" column="id" select="getGuanZhuCount" />
    </resultMap>



    <select id="getUserByUserName" resultMap="ManageUserBean">
        select *from nh_manage_user where delete_flag = #{deleteFlag} and user_name = #{userName}
    </select>

    <select id="getShouCangCount" parameterType="String" resultType="int" >
        SELECT COUNT(0) FROM dianzan WHERE user_id = #{userId} and dian_type = "2"
    </select>
    <select id="getArticleCount" parameterType="String" resultType="int" >
        SELECT COUNT(0) FROM article WHERE master = #{userId}
    </select>

    <select id="findUserBeanById" resultMap="ManageUserBean">
        select *from nh_manage_user where id = #{userId}
    </select>

    <select id="getGuanZhuCount" resultType="int">
        select count(0) from guanzhu where bei_guan = #{beiGuanId}
    </select>

    <select id="findArticleUserByArticleId" resultMap="ManageUserBean">
        select u.* from nh_manage_user u  inner join article a on a.master = u.id where a.id = #{articleId}
    </select>

    <update id="changePassword">
        update nh_manage_user set password = #{newPass} where id = #{userId}
    </update>

</mapper>