<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.dao.PingLunDaoMapper">
    <resultMap id="PingLunBean" type="com.hhit.entity.PingLun">
        <id property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="userId" column="user_id"/>
        <result property="pingLunContent" column="pinglun_content" />
        <result property="headImg" column="head_img" />
        <result property="realName" column="real_name" />
        <result property="time" column="time" />
        <association property="replayCount" column="id" select="getPingLunReplayCount" />
        <association property="pingLunDianCount" column="id" select="getPingLunDianCount" />
        <association property="article" column="article_id" select="com.hhit.dao.ArticleDaoMapper.findArticleById" />
        <association property="repLayList" column="{pId=id,userId=user_id}" javaType="java.util.List" select="getAllReplayOfPingLun" />
    </resultMap>

    <select id="getAllReplayOfPingLun" resultMap="com.hhit.dao.ReplayDaoMapper.ReplayBean" parameterType="java.util.Map">
        select r.*,u.head_img as hui_tou,u.real_name as hui_name,uu.real_name as bei_name from replay r
        INNER JOIN nh_manage_user u on r.replayer = u.id
        INNER JOIN nh_manage_user uu ON uu.id = r.to_replayer
        where r.pinglun_id = #{pId} and r.to_replayer = #{userId} ORDER BY r.time desc
    </select>

    <select id="checkBooleanDianPing" resultType="int" parameterType="java.util.Map">
        select count(0) from pinglun_dian where user_id = #{userId} and pinglun_id = #{pId} and dian_type = "1"
    </select>


    <select id="findAllPingLunByArticleId" resultMap="PingLunBean">
        SELECT p.*,u.head_img,u.real_name,
        (select count(0) from pinglun_dian pd where pd.user_id = #{dengLuId} and pd.pinglun_id = p.id and pd.dian_type = "1" ) as booleanDian
        from pinglun p INNER JOIN nh_manage_user u
        ON p.user_id = u.id where p.article_id = #{articleId}
        <if test="page != null">
            limit #{page},10
        </if>
    </select>
    
    <select id="findAllPingLunOfArticleCount" resultType="int">
        select count(0) from pinglun where article_id = #{articleId}
    </select>

    <select id="getPingLunReplayCount" resultType="int">
        select  count(0) from replay where pinglun_id = #{pingLunId}
    </select>

    <insert id="addPingLun" parameterType="com.hhit.entity.PingLun">
        insert into pinglun(id,article_id,user_id,pinglun_content,time) values (#{id},#{articleId},#{userId},#{pingLunContent},#{time})
    </insert>

    <select id="getPingLunDianCount" resultType="int">
        select count(0) from pinglun_dian where pinglun_id = #{pinId} and dian_type = "1"
    </select>

    <insert id="addPingLunDian" parameterType="com.hhit.entity.PingLunDian">
        insert into  pinglun_dian(id,pinglun_id,user_id,dian_type) values (#{id},#{pingLunId},#{userId},#{dianType})
    </insert>

    <delete id="deletePingLunDian" parameterType="com.hhit.entity.PingLunDian">
        delete from pinglun_dian where pinglun_id = #{pingLunId} and dian_type = #{dianType} and user_id = #{userId}
    </delete>
    
    <delete id="deleteArticlesPingLun">
        delete from pinglun where article_id = #{articleId}
    </delete>

    <select id="findAllPingLunByUserId" resultMap="PingLunBean">
        select p.*,u.head_img as headImg,u.real_name as realName from pinglun p inner join nh_manage_user u on p.user_id = u.id
        where p.user_id = #{userId}
        <if test="page != null">
            limit #{page},10
        </if>
    </select>

    <delete id="deletePing">
        delete from  pinglun where id = #{pId}
    </delete>

    <!--<select id="getReplayList" resultType="com.hhit.entity.Replay">-->
        <!--select * from replay-->
        <!--where pinglun_id = #{pingId}-->
    <!--</select>-->

</mapper>