<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.dao.ReplayDaoMapper">
    <resultMap id="ReplayBean" type="com.hhit.entity.Replay">
        <id property="id" column="id"/>
        <result property="pingLunId" column="pinglun_id"/>
        <result property="articleId" column="article_id"/>
        <result property="replayContent" column="replay_content"/>
        <result property="toPlayer" column="to_replayer"/>
        <result property="time" column="time"/>
        <result property="replayer" column="replayer"/>
        <result property="beiName" column="bei_name"/>
        <result property="huiName" column="hui_name"/>
        <result property="huiTou" column="hui_tou"/>
        <association property="replayDianCount" column="id" select="getReplayDianCount" />
    </resultMap>

    <select id="getAllReplayOfPingLun" resultMap="ReplayBean">
        select r.*,u.head_img as hui_tou,u.real_name as hui_name,uu.real_name as bei_name,
        (select count(0) from pinglun_dian pd where pd.user_id = #{userId} and pd.pinglun_id = r.id and pd.dian_type = '2' ) as booleanReDian
        from replay r INNER JOIN nh_manage_user u on r.replayer = u.id
        INNER JOIN nh_manage_user uu ON uu.id = r.to_replayer
        where r.pinglun_id = #{pId} ORDER BY r.time desc
    </select>

    <select id="getAllReplayOfPingLunPlus"  resultMap="ReplayBean" parameterType="java.util.Map">
        select r.*,u.head_img as hui_tou,u.real_name as hui_name,uu.real_name as bei_name from replay r
        INNER JOIN nh_manage_user u on r.replayer = u.id
        INNER JOIN nh_manage_user uu ON uu.id = r.to_replayer
        where r.pinglun_id = #{pId} and r.to_replayer = #{userId} ORDER BY r.time desc
    </select>

    <insert id="addReplay" parameterType="com.hhit.entity.Replay">
        insert into replay(id,pinglun_id,article_id,replay_content,replayer,to_replayer,time)
          values (#{id},#{pingLunId},#{articleId},#{replayContent},#{replayer},#{toPlayer},#{time})
    </insert>

    <select id="getReplayDianCount" resultType="int">
        select count(0) from pinglun_dian where pinglun_id = #{replayId} and dian_type = "2"
    </select>

    <delete id="deleteArticlesReplay">
        delete  from  replay where  article_id = #{articleId}
    </delete>

    <delete id="deletePingLunsReplay">
        delete from  replay where pinglun_id = #{pId}
    </delete>

    <select id="findReplayCount" resultType="int" parameterType="com.hhit.entity.Replay">
        select Count(0) from replay
    </select>

    <select id="findAllReplay" resultMap="ReplayBean" parameterType="com.hhit.entity.Replay">
        select r.*,a.article_title as articleTitle,pl.pinglun_content as pingLun,u.head_img as hui_tou,u.real_name as hui_name,uu.real_name as bei_name
        from replay r INNER JOIN nh_manage_user u on r.replayer = u.id
        INNER JOIN nh_manage_user uu ON uu.id = r.to_replayer
        inner join article a on a.id = r.article_id
        inner join pinglun pl on r.pinglun_id = pl.id
        ORDER BY r.time desc
    </select>

</mapper>